    <!-- body -->
    <div class="settings">
        <div class="cards" >
            <div class="moduleTitle">
                <h4 class="titles">Ajustement de l'axe <span class="moduleName"></span></h4>
            </div>
            <div class="flexline">
                <span id="goToPosSpan" style="font-size:40px">Aller à la position : </span>
                <input type="number" id="goToPos" min="1" max="1000" size="25" style="font-size:50px;width:200px;" class="toDisable" onkeyup="verifyInput(event, 'goToPos')" disabled>
                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(10)" onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                <button style="width:15rem;" id="goToPosBtn" class="toDisable btnsDisabled primaryBtn" disabled onclick="goToPos()">Go !</button>
            </div>
        <div class="columns">
            <div>
                <div class="padding padding_r25">
                    <button class="primaryBtn toDisable" onclick="openReglages()">Réglages</button>
                    <div class="spacer"></div>
                    <button class="btn warnBtn toDisable" id="goToparkPosMain" onclick="goToPark()">PARK</button>
                    <button class="btn warnBtn toDisable" onclick="back()">Retour</button>
                    <div class="spacer"></div>
                    <button class="btn errorBtn" onclick="stopAll()">Arrêt tous!!!</button>
                </div>
            </div>
            <div class="child">
            <div class="line"></div>
            <div class="wrapper">
                    <div class="row">
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(1)">+</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(1/2)">+</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(1/4)">+</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(3/16)">+</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(1/8)">+</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(1/16)">+</button>
                    </div>
                    <div class="row">
                        <span>1 pouces</span>
                        <span>1/2 pouces</span>
                        <span>1/4 pouces</span>
                        <span>3/16 pouces</span>
                        <span>1/8 pouces</span>
                        <span>1/16 pouces</span>
                    </div>
                    <div class="row">
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-1)">-</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-1/2)">-</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-1/4)">-</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-3/16)">-</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-1/8)">-</button>
                        <button class="plusMin toDisable btnsDisabled" disabled onclick="moveWith(-1/16)">-</button>
                    </div>
            </div>
            <div id="axeblockedDiv" style="margin-top: 20px; disabled; background-color: red; visibility: hidden;" >
                    <span id="axeblockedSpan">Axe bloqué par limit switch !
                    </span>
            </div>
        </div>
        <!-- Disable overlay -->
        <div class="overlay"></div>
        </div>
    </div>
</div>
