    <div class="no">
        <span class="drawer-close-button">
            <a href="javascript:void(0)" class="closebtn" onclick="closeReglages()">&times;</a>
        </span>
        <div class="spacer"></div>
        <div style="text-align: center">
            <h3 class="titles">RÉGLAGES pour l'axe <span class="moduleName"></span></h3>
        </div>
    </div>
        <div class="box">
            <div class="half left">
                <div class="box">
                    <div class="boxCol" style="width:120%">
                        <span class="subtitles">Paramètres Wifi</span>
                        <span id="ssidSpan">Nom du Wifi : <input type="text" id="ssid" size="1rem" class="toDisable inputsDisabled" onkeyup="verifyInput(event,  'ssid')" disabled></span>
                        <span id="passwordSpan">Mot de passe : <input type="password" id="password" size="1rem" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'password')" disabled></span>
                        <button class="btn normal btnsDisabled toDisable" id="btn_appliquer_wifi" disabled onclick="changeWifiParameters()">Appliquer</button>
                    </div>
                    <div class="boxCol">
                        <button class="btn toDisable primaryBtn" onclick="showAddressModal()" style="font-size: 1.8rem">Modifier empl. module</button>
                    </div>
                </div>
                <div class="box" style="margin-top:5px;">
                    <div class="boxCol">
                        <span class="subtitles">Paramètres mécaniques</span>
                        <div class="boxAlign">
                            <span id="actualPositionSpan">Position actuelle :
                                <input type="text" id="actualPosition" size="1rem" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'actualPosition')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(1)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="timeToStartSpan">Temps démarrage moteur :
                                <input type="text" size="1rem" id="timeToStart" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'timeToStart')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(2)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="motorSpeedSpan">Vitesse du moteur :
                                <input type="text" size="1rem" id="motorSpeed" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'motorSpeed')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(3)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="nbPulsesToStopSpan">Nb impulsions pour arrêter :
                                <input type="text" size="1rem" id="nbPulsesToStop" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'nbPulsesToStop')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(4)"
                                onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="lockMotorParametersSpan">Verrouillage de la vitesse du moteur :
                                <input type="checkbox" id="lockMotorParameters" class="toDisable inputsDisabled" disabled>
                            </span>
                            <span id="toleranceSpan">Tolérance :
                                <input type="text" size="1rem" id="tolerance" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'tolerance')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(5)"
                                onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="scaleFactorSpan">Scale factor :
                                <input type="text" size="1rem" id="scaleFactor" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'scaleFactor')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(6)"
                                onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="ParkPosSpan">Position de parc:
                                <input type="text" size="10" id="parkPos" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'maxRange')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(7)"
                                     onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span>Est-ce un axe circulaire ?
                                <input type="checkbox" id="isDeviceRotatif" class="toDisable inputsDisabled" disabled onclick="changeRotatif()">
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(8)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="maxRangeSpan">Distance max (circonférence):
                                <input type="text" size="1rem" id="maxRange" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'maxRange')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(7)"
                                     onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span id="adresseipSpan">Adresse ip:
                                <input type="text" size="1rem" id="ip" disabled>
                            </span>
                            <span id="nodeAddressSpan">Node addresse:
                                <input type="text" size="1rem" id="nodeAddress" disabled>
                            </span>
                        </div>
                        <button class="btn normal btnsDisabled toDisable" id="btn_save_mechanicals" disabled onclick="saveMechanicals()">Appliquer</button>
                    </div>
                </div>
                <div class="box" style="margin-top: 5px; display: none;" id="sc">
                    <div class="boxCol" id="sc">
                        <span id=rightPosSpan class="subtitles">Scale factor tool</span>
                        <span>Position actuelle:
                           <input type="number" id="rightPos" size="1rem" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'rightPos')" disabled>
                            <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(1)"
                                onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                             <button class="btn btnsDisabled toDisable" id="btn_scaleFactorTool" disabled onclick="scaleFactorTool()">Calcul du scale factor</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="half right" >
                <div class="box">
                    <div class="boxCol">
                        <span class="subtitles">Déplacements</span>
                        <div class="boxAlign">
                            <span id="runTimeSpan">Commander le moteur :
                                <input type="text" id="runTime" style="width:100px" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'runTime')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(9)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                                sens :
                                <input type="checkbox" id="sensDep" class="toDisable inputsDisabled" disabled>
                                <button class="btn btnsDisabled toDisable" id="btn_run_for_time" disabled onclick="runForA_GivenTime()">Go !</button>
                            </span>

                            <span id="goToPosSpan">Aller à la position :
                                <input type="text" id="goToPos" style="width:60px" class="toDisable inputsDisabled" onkeyup="verifyInput(event, 'goToPos')" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(10)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                                <button style="align-self:center;" id="goToPosBtn" class="btn btnsDisabled toDisable" disabled onclick="goToPos()" disabled="disabled">Go !</button>
                            </span>
                        </div>
                        <div class="line"></div>

                        <span class="subtitles">Résultats du serveur (dernier déplacement)</span>

                        <div class="boxAlign">
                            <span>Déplacement en pouces:
                                <input type="number" id="moveInches" size="1rem" class="inputsDisabled" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(11)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <span>Déplacement en impulsions:
                                <input type="number" id="moveInpuls" size="1rem" class="inputsDisabled" disabled>
                                <img src="imgs/info4.png" class="imgs" onmouseover="displayTooltip(12)"
                                    onmouseout="hideTooltip()" onmousemove="trackMouse(event)">
                            </span>
                            <div id="axeblockedDiv" style="margin-top: 20px; disabled; background-color: red; visibility: hidden;" >
                                <span id="axeblockedSpan">Axe bloqué par limit switch !
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box" style="margin-top: 5px;">
                    <div class="boxCol">
                        <span class="subtitles">Relais</span>
                        <div class="boxAlign">
                            <span>Commander le relais marche
                                <input type="checkbox" id="marcheRelay" class="toDisable inputsDisabled" disabled>
                                <button class="btn btnsDisabled toDisable" id="btn_marcheRelay" disabled onclick="runRelay('marcheRelay')">Go !</button>
                            </span>
                            <span>Commander le relais sens
                                <input type="checkbox" id="sensRelay" class="toDisable inputsDisabled" disabled>
                                <button class="btn btnsDisabled toDisable" disabled onclick="runRelay('sensRelay')">Go !</button>
                            </span>
                            <span>Commander la led
                                <input type="checkbox" id="ledRelay" class="toDisable inputsDisabled" disabled>
                                <button class="btn btnsDisabled toDisable" disabled onclick="runRelay('ledRelay')">Go !</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box" >
                    <div class="boxCol">
                        <p id="fieldAlert" style="color:red; display:none;"></p>
                    </div>
                </div>

                <button id="goToparkPos" class="btn toDisable primaryBtn" onclick="goToPark()">PARK</button>
                <div class="spacer"></div>
                <button class="btn errorBtn" onclick="emergencyStop()">STOP !!!</button>
            </div>
        </div>
    </div>


<!-- Password Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content" style="z-index: 100">
     Mot de passe...
      <div class="spacer"></div>
		<input type="password" id="password_reglages" class="toDisable inputsDisabled"  placeholder="Entrez le mot de passe" disabled>
      <div class="spacer"></div>
      <div class="flexline">
        <button  class="errorBtn btn" onclick="hideModal()">Annuler</button>
		<button  id="check" class="primaryBtn" onclick="checkPassword()">Soumettre</button>
      </div>
  </div>
</div>
<!-- address Modal -->
<div id="addressModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <p class="subtitles" ><b style="color:red">ATTENTION! </b> Modification du module: <span id="oldModuleName"></span></p>
        <h5>Toute modification d'addresse peut entraîner des problèmes si effectuée non correctement.</h5>
        <h5>Veuillez vous assurer qu'il y a seulement UN module assigné à chacun des noms ci-dessous</h5>
        <div id="addressSelectDiv">
            <select name="address" id="addressSelect">
            </select>
        </div>
        <div class="spacer"></div>
        <!-- Les valeurs suivante ne sont pas affichees mais doivent demeurer dans le code.
        Ce sont ces valeurs qui sont utilisees pour mettre a jour le nom du module -->
        <h5> Les paramètres mécanique seront également ajustés à la valeur par défaut pour le module sélectionné. Si les paramètres avaient été changés, les changements devront être effectués à nouveau</h5>
        <div class="flexline">
            <button  class="errorBtn btn" onclick="hideAddressModal()">Annuler</button>
            <button  id="check2" class="primaryBtn" onclick="updateAddress()">Soumettre</button>
        </div>
    </div>
</div>

