/* SOMMAIRE 

- 
- 
- 
- 
-
PALETTE DE COULEUR

GRIS

    #dddddd - light
    #3d3d3d - normal
    #333333 - dark
    #222222 - darkest


ORANGE
    #eab994 - lightest
    #de9051 - light
    #d56c30 - normal
    #964e2f - dark
    #552a1a - darkest


BLEU
    #011e48 - darkest

JAUNE
    #f5dc5b - light
    #ecbc3e - normal
    #dbad39




*/
:root {
    --blue: #1e90ff;
    --white: #ffffff;
}
html {
    font-size:100%;
}
* {
    color: #333333;
}

h5, h6 {
    margin: 1rem 0;
}

/* #006DFF,  */
body{
    margin: 0;
    padding: 0;
    padding-top:70px;
    font-size: 28px;
    position: relative;
    color: #333333 !important;
}
input {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 2px;
}

select {
    background-color: #CCFFFF;
    color: #333333;
    padding: 1rem;
    font-size: 1.8rem;
    margin: 2rem;
}
#page{
    display: flex;
    flex-flow: row nowrap;
    color: #3d3d3d;
}

.half{
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    align-items: center;
}
.half.left{
    margin: 5px 5px 0 10px; /* TRBL */
    border-right: 2px solid #0054C5;
    text-align: left;
}
.half.right{
    margin: 5px 10px 0 5px; /* TRBL */
    text-align: right;
}

.box{
    background-color: #EAF0F8;
    border-radius: 0px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 98%;
    padding: 1%;
}
.box .box {
    border-top: 2px solid #0054C5;
}
.boxCol{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    /* margin-left: 2%; */
}

.boxAlign{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
span{
    margin-bottom: 5px;
}

/* top navigation menu */
/**
.top{
    min-height: 80px;
    max-height: 100px;
    background-color: #0054C5;
    background-color: #3d3d3d;
    position: fixed;
    display: flex ;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
 */
/* top banner */
#top{
    min-height: 80px;
    background-color: #0054C5;
    background-color: #3d3d3d;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 0 10%;
    padding-top: 2rem;
}
#top span{
    color: white;
    font-weight: 600;
}
#logo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    max-width: 9%;
    max-height: 90%;
    margin: 0 0 2% 0;
    border-radius: 0px 0px 30px 0px;
}

/* body */
.containers{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3vh;
}
.child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.flexcolumn{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.cards{
    background-color: #EAF0F8;
    border: 2px solid #cad0d8;
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
    width: 100%;
    flex-flow: column;
}
.split{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
}
.split>div{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
.nosplit{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.nosplit>div{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-left: -50px;
}

.cards h4 {
    margin: 0 0 20px 0;
}
.cards span {
    margin: 10px 0;
    position: relative;
}
.titles{
    margin: 0 0 10px 0;
    font-size: 1.5em;
}
.subtitles{
    font-size: 1.1em;
    font-weight: bold;
    margin: 15px 0 15px 0; /*TRBL*/
}

.line{
    width: 150px;
    height: 0;
    border-top: 3px solid #0054C5;
    margin: 20px 0 0 0;
}

/* buttons' styles */
#navigationBtn{
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
}

.normal{
    outline: none;
    margin: 15px;
}

.btn{
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
    border-radius: 3px;
}
.btn:hover{
    font-weight: 700;
}

.inputsDisabled{
    cursor: not-allowed;
}


#emergencyBtn{
	background-color: #c50000;
    color: white;
    font-weight: 700;
    font-size: 180%;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

.blue{
    background-color: #0054C5;
    color: white;
    border: 2px solid #0054C5;
    cursor: pointer;
}
.btn.light{
    background-color: white;
    color: #0054C5;
    border: 2px solid white;
}
.navigation{
    color: white;
    border: none;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 120%;
    outline: none;
    border-radius: 3px;
}
.green{
    background-color: #00d17a;
    cursor: pointer;
}
.green:hover{
    background-color: #008f53;
}
.navDisabled{
    background-color: #3d3d3d;
}
.blue:hover{
    background-color: white;
    color: #0054C5;
    border: 2px solid #0054C5;
}
/* .light:hover{
    
} */
.discrete:hover{
    background-color: white;
    color: #0054C5;
    border: 2px solid white;
}

/* inputs' styles */
#moduleName {
    padding: 5px;
    margin: 0 5px;
}
input[type=text],input[type=password],input[type=number]{
    outline: none;
    border: 1px solid #0054C5;
    padding: 0.5rem;
    width: 10rem;
}
input[type=text]:focus,input[type=password]:focus{
    border: 1px solid white;
    background-color: #0054C5;
    color: white;
}

/* images' style */
.imgs{
    width: 25px;
}

/* p::selection{
    color: red;
    background: yellow;
} */

/* tooltip's style */
#tooltip{
    display: none;
    width: fit-content;
    /*
    position: fixed;
    bottom: 15px;
    left: 15px;
     */
    max-width: 200px;
    background-color: white;
    color: #3d3d3d;
    border: 2px solid #0054C5;
    font-size: 0.8em;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 101;
}
#tooltip::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    margin-bottom: -5px;
    border-width: 20px;
    border-style: solid;
    border-color:  transparent transparent transparent #0054C5;
    background-color: #CCFFFF;
    border-radius: 3px;
  }

#tooltip > p {
    margin: 10px;
}
.bold{
    font-weight: 700;
}

/* settings */
.settings{
    padding-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
}

.wrapper{
    display: flex;
    
}

.row{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}
.row>button{
    margin: 6px 0;
}
.row>span{
    height: 50px;
    min-width: 100px;
    height: 5rem;
    margin: 6px 15px;
    text-align: center;
    vertical-align: center;
    line-height: 5rem;
}
.plusMin{
    outline: none;
    color: white;
   /* background-color: #0054C5; */
   /* border: 1px solid #0054C5; */
    font-weight: 900;
    font-size: 1.5em;
    border-radius: 5rem;
    width: 5rem;
    height: 5rem;
}

.plusMin:hover{
    color: #0054C5;
    background-color: white;
    border: 2px solid #0054C5;
}


/* alerts */
#alert{
    text-align: left;
    flex-flow: column;
    min-height: 150px;
    width: 500px;
    border-radius: 2px;
    position: fixed;
    bottom: 40px;
    text-align: center;
    display: flex;
    border: 4px solid;
    padding: 15px 30px;
    /* visibility: hidden; */
    transition: 0.2s;
}
#alert > span {
    padding-top: 10px;
    padding-right: 7px;
}
#alertStrong {
    font-weight: 700;
}

#alert > button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 120%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    cursor: pointer;
}
/* colors */
.warn{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.danger{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 14; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /*background-color: #f8d7da;
  /*rgb(0,0,0); /* Fallback color */
  background-color: rgba(28, 6, 6, 0.93)
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    display: flex;
    background-color: #fefefe;
    margin: 15% 20%; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    flex-flow: column;
    justify-content: center;
}


/* --------------------- */
/* Ajoute par M.P. 31/10 */
/* --------------------- */

.visible {
    visibility: visible;
}
.hiddden {
    visibility: hidden;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(105, 105, 105, 0.96);
    z-index: 10;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
}

.settings {
    position: relative;
}

.center {
    margin: 0 auto;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

/*        LAYOUT        */
.navSpacer {
    background-color: #DDD;
    height: 3px;
    width: 100%;
}

.spacer {
    height: 30px;
    width:100%;
    flex: fit-content;
}

.padding {
    padding: 10px;
}

.padding_r10 {
    padding-right: 10px;
}

.padding_r25 {
    padding-right: 25px;
}

/* -------------------------- */
/*         COMPONENTS         */
/* -------------------------- */

#pageHeader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;   /* hauteur du groupe*/
    text-align: center;
    font-size: 1.6em;
    /*text-decoration: underline;*/
}

.moduleTitle {
    width:100%;
    text-align: center;
    text-decoration: underline;
    display: block;
}

.controls {
    display: inline-block;
    min-width: 300px;
    width: 98%;
    margin: 0 auto;
    /*margin: 5px 1%;*/
}
@media screen and (min-width: 1800px){
    .controls {
        width: 64%;
        margin: 0 18%;
    }
}
@media screen and (min-width: 2800px){
    .controls {
        width: 50%;
        margin: 0 24%;
    }
}

/*      SUCCESS      */
.reconnect {
    background-color: #008f53;
    color: #c3e6cb;
    border: 3px solid;
    padding: 10px 20px;
    font-size: 1.4em;
    border-radius: 2px;
}
.reconnect:hover {
    background-color: #018f59;
    color: #c3e6cb;
    border: 3px solid #008f53;
}
.reconnect:active {
    background-color: #c3e6cb;
    color: #018f59;
    border: 2px solid #008f53;
}

/*      ERROR      */
.errorBtn {
    background-color: #c50000;
    color: #ffd0d0;
    font-weight: 700;
    font-size: 2.25rem;
    height: 5rem;
    width: 20rem;
    border-radius: 2px;
    border: 3px solid
}
.errorBtn:hover {
     background-color: #c50000;
     color: #ffd0d0;
     border: 3px solid #c50000;
 }
.errorBtn:active {
    background-color: #ffd0d0;
    color: #c50000;
    border: 2px solid #c50000;
}

/*      warn      */
.warnBtn {
    background-color: #bf7316;
    color: #ffefd5;
    font-weight: 700;
    font-size: 2.25rem;
    height: 5rem;
    width: 20rem;
    border-radius: 2px;
    border: 3px solid
}
.warnBtn:hover {
    background-color: #bf7316;
    color: #ffefd5;
    border: 3px solid #bf7316;
}
.warnBtn:active {
    background-color: #ffefd5;
    color: #bf7316;
    border: 2px solid #ffefd5;
}

.closeBtn{
    background-color: #ffd0d0;
    color: #c50000;
    max-width: 50px;
    max-height: 50px;
    font-weight: 900;
    font-size: 1.4em;
    border-radius: 25px;
    float: right;
}

/*      PRIMARY       */
.primaryBtn {
    background-color: #0054c5;
    color: #bbd8ff;
    font-weight: 700;
    font-size: 2.25rem;
    height: 5rem;
    width: 20rem;
    border-radius: 2px;
    border: 3px solid
}
.primaryBtn:hover {
    background-color: #0054c5;
    color: #bbd8ff;
    border: 3px solid #0054c5;
}
.primaryBtn:active {
    background-color: #bbd8ff;
    color: #0054c5;
    border: 2px solid #0054c5;
}

.columns {
    display:flex;
    flex-flow: row;
    padding: 5px 10px;
    justify-content: space-around;
}

/*       SNACKBAR        */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    /*background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 12; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    transition: 0.2s;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*      TOP NAV       */
/* Add a black background color to the top navigation */
.nav {
    display:flex;
    /*justify-content: center;*/
    /*background-color: #0054c5;*/
    background-color: #3d3d3d;
    /*overflow: hidden;*/
    overflow: scroll;
    padding: 5px 0% 5px 0%;
    border-bottom: solid 2px white;
}

/* Style the links inside the navigation bar */
.nav a {
    flex: 1;
    justify-content: center;
    float: left;
    color: #DDD;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
    border-radius: 3px;
    margin: 0 0px;
}

/* Change the color of links on hover */
.nav a:hover {
    background-color: white;
    color: #3d3d3d;
}

/* Add a color to the active/current link */
.nav a.active {
    background-color: #DDD;
    color: #222;
    color: #011e48;
}

#subnav {
    overflow: hidden;
    margin: 0 0%;
    min-height: 60px;
    padding-bottom: 5px;
    padding-top: 10px;  /* pour décaler les modules vers le bas*/
}
#subnav a{
    font-weight: 700;
    border-radius: 3px;
    font-size: 1.2rem;
    flex: 1 1 1;
}
#subnav a.active{
    color: #d36c31;
    color: #944a2a;
}

#content {
    margin: 2%;
}

#components {
    /*
    display: flex;
    flex-flow: row;
     */
}

/* ------------------------ */
/*     SETTINGS DRAWER      */
/* ------------------------ */
.backdrop-container{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.mobile-nav-open-icon{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
    color: black;
    margin-left:3rem;
}

.sidenav-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: #eaf0f8;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-container a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 10px 0;
}

.sidenav-container a:hover {
    color: #f1f1f1;
}

.sidenav-container .closebtn {
    font-size: 5rem;
    font-weight: 700;
    color:#C9002B ;
    background-color: #f5c6cb;
    border-color: #C9002B;
    border: 2px solid;
    border-radius: 4rem;
    height:6rem;
    width: 6rem;
    text-align: center;
    vertical-align: center;
}

.sidenav-container .drawer-close-button{
    height: 6.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 175px;
}
#settings{
    width:98%;
    display: inline-block;
}
#goToPos{
    margin-left: 35px;
}
#goToPosBtn{
    margin-left: 35px;
}
#password_reglages {
    margin: 0 auto;
    width: 20rem;
    color: #333333;
    padding: 15px;
    border: #3d3d3d;
    border-radius: 2px;

}
#password_reglages:focus {
    background-color: #CCFFFF;
}

#addressModal {
    z-index: 13;
}

.btnsDisabled{
    background-color: #3d3d3d;
    color: white;
    cursor: not-allowed;
}
.btnsDisabled:hover{
    background-color: #3d3d3d;
    color: white;
    cursor: not-allowed;
}

#console {
    background-color: #333333;
    color: white;
    width: 70%;
    margin-left: 30%;
    min-height: 5rem;
    font-size: 0.8rem;
    padding: 1rem;
}

#console p {
    color: white;
}


/* Toogle switch for console */
/* The switch - the box around the slider */
.switch {
    margin-right: 10px;
    float: right;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0054c5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 25px;
}

.slider.round:before {
    border-radius: 50%;
}

